openapi: 3.2.0
info:
  title: WorkSpan Object External Id API
  description: Operations on WorkSpan objects
  version: '1.0'
servers:
- url: https://api-sandbox.workspan.com/app/v1/object
security:
- {}
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: External Id
paths:
  /{object_id}/external_id:
    patch:
      operationId: update_external_id
      summary: Connect an external ID to a WorkSpan ID
      parameters:
      - name: object_id
        in: path
        required: true
        schema:
          type: string
        description: Object ID assigned by WorkSpan (long ID)
      requestBody:
        content:
          application/json:
            examples:
              default:
                value: "{\n  \"field_name\": \"sales_details.crm_opportunity_id\",\n  \"external_id\": \"000owa24575\"\n}"
      responses:
        '200':
          description: Connection of external object to WorkSpan object is successful
          content:
            application/json:
              examples:
                default:
                  value: "{\n  \"object_id\": \"WS-Project_agpzfndzLWF\",\n  \"external_id\": \"000owa24575\",\n  \"field_name\": \"sales_details.crm_opportunity_id\"\n}"
        '401':
          description: Authorization Error
        '404':
          description: WorkSpan object not found
      tags:
      - External Id
    get:
      operationId: get_external_id
      summary: Get external ID for WorkSpan ID
      parameters:
      - name: object_id
        in: path
        required: true
        schema:
          type: string
        description: Object ID assigned by WorkSpan (long ID)
      responses:
        '200':
          description: Retrieving external ID of a WorkSpan Object is successful
          content:
            application/json:
              examples:
                default:
                  value: "{\n  \"object_id\": \"WS-Project_agpzfndzLWF\",\n  \"external_ids\": [\n    {\n      \"external_id\": \"000owa24575\",\n      \"field_name\": \"sales_details.crm_opportunity_id\"\n    },\n    {\n      \"external_id\": \"pc-a1w09875\",\n      \"field_name\": \"partner_center.referral_id\"\n    }\n  ]\n}"
        '401':
          description: Authorization Error
        '404':
          description: WorkSpan object not found
      tags:
      - External Id
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-harvest:
  source: https://developer.workspan.com/developer/apis/update-external-id-in-workspan-object?export=true&format=openapi+json&api-version=2022-04-01-preview
  operations_source: https://developer.workspan.com/developer/apis/update-external-id-in-workspan-object/operations?api-version=2022-04-01-preview
  harvested: '2026-07-21'
  note: Assembled from WorkSpan's Azure APIM developer portal data API (export skeleton + published operations/schemas).
