openapi: 3.2.0
info:
  title: WorkSpan Object Audit API
  description: Operations on WorkSpan objects
  version: '1.0'
servers:
- url: https://api-sandbox.workspan.com/app/v1/object
security:
- {}
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Audit
paths:
  /{object_id}/audit:
    patch:
      operationId: audit_object
      summary: Supply Audit information for a WorkSpan ID
      parameters:
      - name: object_id
        in: path
        required: true
        schema:
          type: string
        description: Object ID of object receiving audit information assigned by WorkSpan (long ID)
      requestBody:
        content:
          application/json:
            examples:
              default:
                value: "{\n  \"field_name\": \"partner_center.integration_status\",\n  \"integration_id\": \"WS-Integration_XYZabc123\",\n  \"external_id\": \"000owa24575\",\n  \"status_code\": \"CREATE_FAILED\",\n  \"message\": \"Successfully created Referral in Partner Center.\"\n}"
      responses:
        '200':
          description: Audit update is successful
          content:
            application/json:
              examples:
                default:
                  value: "{\n  \"object_id\": \"WS-Project_agpzfndzLWF.\",\n  \"field_name\": \"partner_center.integration_status\",\n  \"status_code\": \"LINKED\"\n}"
        '400':
          description: Invalid input.
        '401':
          description: Authorization Error
        '404':
          description: WorkSpan object not found
      tags:
      - Audit
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-harvest:
  source: https://developer.workspan.com/developer/apis/update-external-id-in-workspan-object?export=true&format=openapi+json&api-version=2022-04-01-preview
  operations_source: https://developer.workspan.com/developer/apis/update-external-id-in-workspan-object/operations?api-version=2022-04-01-preview
  harvested: '2026-07-21'
  note: Assembled from WorkSpan's Azure APIM developer portal data API (export skeleton + published operations/schemas).
