openapi: 3.2.0
info:
  title: WorkSpan Partner Account Load Upload Partner Account API
  description: Use this API to load partner accounts in bulk
  version: '1.0'
servers:
- url: https://api-sandbox.workspan.com/dataproduct/v1
security:
- {}
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Upload Partner Account
paths:
  /upload_partner_account:
    post:
      operationId: uploadPartnerAccount
      summary: Bulk Load Partner Accounts to WorkSpan
      description: Bulk Load Partner Accounts to WorkSpan. Data can be attached to the request body as JSON/CSV format, or attached as a JSON/CSV/XLSX file.
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  file_service_id: string
                  file_type: xlsx
                  data:
                  - {}
      responses:
        '200':
          description: data uploaded
          content:
            application/json:
              examples:
                default:
                  value:
                    status: Success
                    message: Partnering master uploaded successfully
        '400':
          description: invalid input, object invalid
        '401':
          description: Authorization Error
      tags:
      - Upload Partner Account
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-harvest:
  source: https://developer.workspan.com/developer/apis/workspan-partner-account-load-api?export=true&format=openapi+json&api-version=2022-04-01-preview
  operations_source: https://developer.workspan.com/developer/apis/workspan-partner-account-load-api/operations?api-version=2022-04-01-preview
  harvested: '2026-07-21'
  note: Assembled from WorkSpan's Azure APIM developer portal data API (export skeleton + published operations/schemas).
