openapi: 3.2.0
info:
  title: Workspan Metadata API
  version: '1.0'
  description: 'Operations tagged Metadata across 3 of this provider''s published API definitions: workspan-co-sell-openapi.yml, workspan-events-openapi.yml, workspan-report-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-sandbox.workspan.com
- url: https://api-sandbox.workspan.com/event/v1
- url: https://api-sandbox.workspan.com/report/v1
security:
- {}
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Metadata
paths:
  /metadata/picklists/hyperscaler:
    get:
      operationId: co-sell-picklist
      summary: Co-Sell PickList
      parameters:
      - name: partner_id
        in: query
        required: true
        schema:
          type: String
      - name: field_names
        in: query
        required: true
        schema:
          type: String
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '503':
          description: ''
        '500':
          description: ''
      tags:
      - Metadata
    servers:
    - url: https://api-sandbox.workspan.com
  /metadata/event:
    get:
      operationId: GetEventList
      summary: Get list of events
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                default:
                  value: "{\n  \"events\": [\n    {\n      \"name\": \"string\",\n      \"description\": \"string\"\n    }\n  ]\n}"
        '400':
          description: API Error
        '404':
          description: event not defined
      tags:
      - Metadata
    servers:
    - url: https://api-sandbox.workspan.com/event/v1
  /metadata/integration:
    get:
      operationId: GetIntegrationList
      summary: Get list of integrations
      responses:
        '200':
          description: Successful in listing integrations
          content:
            application/json:
              examples:
                default:
                  value: "{\n  \"integrations\": [\n    {\n      \"integration_id\": \"string\",\n      \"integration_type\": \"string\",\n      \"description\": \"string\",\n      \"name\": \"string\"\n    }\n  ]\n}"
        '400':
          description: API Error
        '404':
          description: integration not defined
      tags:
      - Metadata
    servers:
    - url: https://api-sandbox.workspan.com/event/v1
  /metadata/event/{event}:
    get:
      operationId: GetEventSchema
      summary: Get schema of event
      parameters:
      - name: event
        in: path
        required: true
        schema:
          type: string
        description: Name of event
      - name: x-ws-env
        in: header
        required: false
        schema:
          type: string
        description: Use only for WorkSpan Sandbox Environment
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              examples:
                default:
                  value: '{}'
        '400':
          description: API Error
        '404':
          description: event not defined
      tags:
      - Metadata
    servers:
    - url: https://api-sandbox.workspan.com/event/v1
  /metadata/integration/{integration_id}:
    get:
      operationId: GetObjectEventSchema
      summary: Get schema of object event
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
        description: Integration Id of Object Event Integration
      responses:
        '200':
          description: Returns Integration Schema
          content:
            application/json:
              examples:
                default:
                  value: '{}'
        '400':
          description: API Error
        '404':
          description: integration not defined
      tags:
      - Metadata
    servers:
    - url: https://api-sandbox.workspan.com/event/v1
  /{reportId}/metadata:
    post:
      operationId: getReportMetadata
      summary: Get report metadata
      description: Returns metadata information about the report.
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: integer
        description: Format - int64.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: 'Format: bearer ${token}'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Authorization Error
        '404':
          description: WorkSpan object Not Found
        '500':
          description: Internal Server Error
      tags:
      - Metadata
    servers:
    - url: https://api-sandbox.workspan.com/report/v1
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-refined-from:
- workspan-co-sell-openapi.yml
- workspan-events-openapi.yml
- workspan-report-openapi.yml
x-harvest:
  source: https://developer.workspan.com/developer/apis/authentication-api?export=true&format=openapi+json&api-version=2022-04-01-preview
  operations_source: https://developer.workspan.com/developer/apis/authentication-api/operations?api-version=2022-04-01-preview
  harvested: '2026-07-21'
  note: Assembled from WorkSpan's Azure APIM developer portal data API (export skeleton + published operations/schemas).
