openapi: 3.0.1
info:
  title: WorkSpan Bulk API
  description: Use this API to load objects in bulk
  version: '1.0'
servers:
- url: https://api-sandbox.workspan.com/bulk/v1
paths:
  /bulkload:
    post:
      operationId: bulkload
      summary: Bulk Load Objects to WorkSpan
      description: Bulk Load Objects to WorkSpan. Data can be attached to the request body as JSON/CSV format, or attached
        as a JSON/CSV/XLSX file.
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
        description: Integration ID of CRM integration that is configured in WorkSpan App
      - name: data_format
        in: query
        required: false
        schema:
          type: string
          default: CSV
        description: The format of the data which is sent in the request body or in the attached file; this is case insensitive
      - name: file_token
        in: query
        required: false
        schema:
          type: string
        description: Upload token that is associated with a GCS Signed URL.
      - name: column_delimiter
        in: query
        required: false
        schema:
          type: string
          default: ','
        description: The column delimiter for the CSV data that is passed in or attached; default is ','
      requestBody:
        content:
          plain/text: {}
          application/json:
            examples:
              default:
                value: '{}'
          multipart/form-data: {}
      responses:
        '200':
          description: data uploaded
          content:
            application/json:
              examples:
                default:
                  value: "{\r\n  \"integration_id\": \"WS-Integration_agpzfndzLW\",\r\n  \"execution_id\": \"a64690c2450\"\
                    ,\r\n  \"created_at\": \"2020-05-18T14:06:57.572Z\",\r\n  \"data_format\": \"JSON\"\r\n}"
        '400':
          description: invalid input, object invalid
        '401':
          description: Authorization Error
  /bulkload_opportunity:
    post:
      operationId: bulkload_opportunities
      summary: Bulk Load Opportunities to WorkSpan
      description: Bulk Load Opportunities to WorkSpan. Data can be Json or CSV
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
        description: Integration ID of that is configured in WorkSpan App
      - name: content_type
        in: query
        required: false
        schema:
          type: string
          default: CSV
      - name: column_delimiter
        in: query
        required: false
        schema:
          type: string
          default: ','
      - name: has_header_row
        in: query
        required: false
        schema:
          type: boolean
          default: 'true'
      requestBody:
        content:
          application/json:
            examples:
              default:
                value: '{}'
          multipart/form-data: {}
          text/csv: {}
      responses:
        '200':
          description: data uploaded
          content:
            application/json:
              examples:
                default:
                  value: "{\r\n  \"integration_id\": \"WS-Integration_agpzfndzLW\",\r\n  \"execution_id\": \"a64690c2450\"\
                    ,\r\n  \"created_at\": \"2020-05-18T14:06:57.572Z\"\r\n}"
        '400':
          description: invalid input, object invalid
        '401':
          description: Authorization Error
  /bulkload/{integration_id}/upload_url:
    get:
      operationId: upload_url
      summary: Get a Signed URL to upload a file directly to the Cloud Storage of WorkSpan.
      description: Get a Signed URL to upload a file directly to the File Cloud Storage of WorkSpan.
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
        description: Integration ID that is configured in WorkSpan App
      - name: file_name
        in: path
        required: true
        schema:
          type: string
        description: The name of the file, with the file extension, to use when storing the file in the Cloud Storage of WorkSpan.
      responses:
        '200':
          description: Signed URL for file upload successfully retrieved
          content:
            application/json:
              examples:
                default:
                  value: "{\r\n  \"upload_url\": \"https://storage.googleapis.com/server/file_name.extension?Expires=12345567&GoogleAccessId=foobar&Signature=barfoo\"\
                    ,\r\n  \"upload_token\": \"eYgh4bLaH2qemcas9dTOKEN\"\r\n}"
        '400':
          description: invalid integration_id
        '401':
          description: Authorization Error
        '404':
          description: integration_id not found
  /status/{integration_id}:
    get:
      operationId: status
      summary: Get Status of execution of integration using integration id
      description: Check the execution status of your integration.
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
        description: Integration ID that is configured in WorkSpan App
      - name: execution_id
        in: path
        required: true
        schema:
          type: string
        description: Execution ID of an integration execution which is returned from bulk API
      - name: include_errors
        in: query
        required: false
        schema:
          type: boolean
          default: 'false'
        description: Include errors in the response if there are any errors
      - name: max_errors
        in: query
        required: false
        schema:
          type: number
          default: '10'
        description: Maximum number of errors to return back in the response
      responses:
        '200':
          description: Execution is retrieved successfully
          content:
            application/json:
              examples:
                default:
                  value: "{\r\n  \"integration_id\": \"WS-Integration_agpzfndzLW\",\r\n  \"execution_id\": \"a64690c2450\"\
                    ,\r\n  \"status\": \"completed\",\r\n  \"input_count\": 200,\r\n  \"error_count\": 3,\r\n  \"success_count\"\
                    : 197,\r\n  \"skip_count\": 0,\r\n  \"started_at\": \"2020-05-07T14:06:57.572Z\",\r\n  \"completed_at\"\
                    : \"2020-05-07T14:07:10.572Z\",\r\n  \"include_errors\": true,\r\n  \"errors\": [\r\n    {\r\n      \"\
                    id\": \"aw00079\",\r\n      \"message\": \"invalid value in field 'close_date'\",\r\n      \"data_row\"\
                    : {\r\n        \"opportunity_id\": \"aw00079\",\r\n        \"close_date\": \"20-jan-2020\",\r\n      \
                    \  \"amount\": 250000\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"aw00082\",\r\n      \"message\"\
                    : \"invalid value in field 'amount'\",\r\n      \"data_row\": {\r\n        \"opportunity_id\": \"aw00082\"\
                    ,\r\n        \"close_date\": \"2021-01-20\",\r\n        \"amount\": \"-\"\r\n      }\r\n    },\r\n   \
                    \ {\r\n      \"id\": \"\",\r\n      \"message\": \"Missing value of key field\",\r\n      \"data_row\"\
                    : {\r\n        \"opportunity_id\": \"\",\r\n        \"close_date\": \"2020-10-20\",\r\n        \"amount\"\
                    : 75000\r\n      }\r\n    }\r\n  ]\r\n}"
        '400':
          description: invalid execution_id
        '401':
          description: Authorization Error
        '404':
          description: integration_id or execution_id not found
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
- {}
- apiKeyHeader: []
- apiKeyQuery: []
x-harvest:
  source: https://developer.workspan.com/developer/apis/workspan-crm-opportunity-integration-api?export=true&format=openapi+json&api-version=2022-04-01-preview
  operations_source: https://developer.workspan.com/developer/apis/workspan-crm-opportunity-integration-api/operations?api-version=2022-04-01-preview
  harvested: '2026-07-21'
  note: Assembled from WorkSpan's Azure APIM developer portal data API (export skeleton + published operations/schemas).
